<h1>New DID</h1>

<img class="img-fluid" src="/static/imgs/actor.png"><br><br>

<p> We create 3 actors (Driver A, B and Car X) as DID on Tangle now, the verifier do not need to be DID.
<p> In DID specification, we use Public Key Infrastructure (PKI) mechanism to authenticate and audit the credentials.

  {% for obj in list_actor %}
  <div class="table-responsive">
    <table class="table">
  
      <br><br><h3> {{obj.name}}: </h3>
      <thead>
        <tr>
          <th> Public key: </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{obj.pub_key}} </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th> Private key: </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{obj.pri_key}} </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th> DID credential:: </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{obj.did}} </td>
        </tr>
      </tbody>

    </table>
  </div>
{% endfor %}
